<div class="row h-100">
    <div class="my-auto mx-auto text-center min-w fixed-top">
        <p class="h6">
            {{message}}
        </p>
    </div>
    <div class="my-auto mx-auto text-center min-w">
        <div *ngIf="questionNo">
            <p class="h2">
                Question
            </p>
            <p class="h1">
                {{questionNo}}
            </p>
        </div>
        <p>
            {{questionStatus}}
        </p>
        <button class="btn btn-info btn-block btn-lg" type="button" (click)="open()" [hidden]="!ctl.canOpen"> Open Game </button>
        <button class="btn btn-success btn-block btn-lg" type="button" (click)="start()" [hidden]="!ctl.canStart"> Start Game </button>
        <button class="btn btn-primary btn-block btn-lg" type="button" (click)="next()" [disabled]="!ctl.canNext" [hidden]="!ctl.canShowNext"> Next </button>
        <button class="btn btn-danger btn-block btn-lg" type="button" (click)="end()" [disabled]="!ctl.canEnd" [hidden]="!ctl.canShowEnd"> End Game </button>
        <button class="btn btn-warning btn-block btn-lg" type="button" (click)="reset()" [hidden]="!ctl.canReset"> Reset Game</button>
        <button class="btn btn-secondary btn-block btn-lg mb-2" type="button" (click)="ranking()" [hidden]="!ctl.canShowRanking" [disabled]="!ctl.canGetRanking">Get Ranking <span>&#9660;</span> </button>
        <table style="width:100%" class="mb-1" *ngIf="userRanking && ctl.canShowRanking" >
            <tr>
                <th>Rank</th>
                <th>User</th>
                <th>Score</th>
            </tr>
            <tr *ngFor="let rank of userRanking; let i = index">
                <td>
                    {{i + 1}}
                </td>
                <td>
                    {{rank.username}}
                </td>
                <td>
                    {{rank.score}}
                </td>
            </tr>
        </table>
        <button class="btn btn-dark btn-block btn-lg" type="button" (click)="waiting()" [hidden]="!ctl.canShowWaiting" [disabled]="!ctl.canGetWaiting">Get Unanswered <span>&#9660;</span> </button>
        <table style="width:100%" class="mb-1" *ngIf="waitingUsers && ctl.canShowWaiting">
            <tr>
                <th>{{waitingUsers.length?'Waiting for Users':'All Users have answered'}}</th>
            </tr>
            <tr *ngFor="let user of waitingUsers; let i = index">
                <td>
                    {{user}}
                </td>
            </tr>
        </table>
        <button class="btn btn-light btn-block btn-lg" type="button" (click)="connectedUsers()" [hidden]="!ctl.canShowParticipants" [disabled]="!ctl.canGetParticipants">Get
            Participants <span>&#9660;</span> </button>
        <table style="width:100%" class="mb-1" *ngIf="participants && ctl.canShowParticipants">
            <tr>
                <th>{{participants.length?'Connected Users':'No participants are connected'}}</th>
            </tr>
            <tr *ngFor="let part of participants; let i = index">
                <td>
                    {{part}}
                </td>
            </tr>
        </table>
        
    </div>
</div>